/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;

  }
} */
.mainCardContainer {
  width: 500px;
  border-radius: 6px;
  background-color: aquamarine;
  /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 11%, 46% 11%, 46% 0); */
  filter: drop-shadow(0 0 0.75rem grey);
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
}

.mainCardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;

}

.mainCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: absolute;
  bottom: 0;
  width: 95%;
}

.mainCardFooterText {
  font-size: 12px;
  width: 100px
}

.mainCardFooterButton {
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.mainCardFooterButton div {
  margin: 8px;

}

.mainCardFooterButton p {
  margin: 8px;
  font-size: 12px;
}

.sideCardContainer {
  width: 200px;
  border-radius: 6px;
  background-color: rgb(253, 205, 84);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  filter: drop-shadow(0 0 0.75rem grey);
}

.sideCardContainer div {
  margin: 8px 0;
}

.sideCardContainerHeader {
  width: 100px;
  font-size: 36px;
  text-align: center;
}

.sideCardContainerFooter {
  font-size: 12px;
  width: 100px;
  text-align: center;
}

@media screen and (max-width: 680px) {

  .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mainCardContainer {
    width: 90%;
    margin-bottom: 20px;
  }
}